<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eShop</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
</head>

<body>
    <div id="root">
        <header class="header">
            <!-- <custom-input v-model="search"></custom-input>
            <custom-button class="search__button" type="button" v-on:click="filterItems">Искать</custom-button> -->
            <custom-search @searchclick="filterItems" @input="searchMe" :value="search"></custom-search>
            <custom-button class="cart-button" v-on:click="basketShow">Корзина <img class="cart-img"
                    src="img/basket.svg" alt=""></custom-button>
        </header>
        <main>
            <custom-error class="mainError" :isvisibleerror="isVisibleError"></custom-error>
            <div v-if="plug" class="plug">Нет данных</div>
            <div class="goods-list">
                <goods-item v-for="item in filteredItems" :item="item" @addgood="addGood">
                </goods-item>
            </div>
            <basket-goods v-for="item in filteredItems" @deletegood="deleteGood" @addgood="addGood"
                :isVisibleCart="isVisibleCart" v-on:closeсart="basketShow">
            </basket-goods>
        </main>
    </div>
</body>